body {
	background-color: #009faf;
}

#navbar {
	/* padding-left: 2em; */
	background-color: #4dd0e1;
	height: 130px;
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: 10px solid #009faf;
}

.logo {
	margin-right: 20px;
	float: left;
}

img {
	height: 4em;
}

.vertical-line {
	float: left;
	height: 100px;
	border-left: 1px solid #fff;
}

.rpc {
	float: left;
	color: #fff;
	margin-left: 40px;
	display: table;
	height: 100px;
}

.top-slogan {
	float: right;
	text-align: right;
	color: #007985;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

#applicationName {
	font-family: 'Cardo', serif;
	font-size: 1.3em;
	line-height: 28px;
	letter-spacing: 1px;
	display: table-cell;
	vertical-align: middle;
}

.main-header,
.main-panel {
	background-color: #f5f5f6;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.result-section,
.top-section,
#bottom-section {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	padding-left: 15px;
}

.result-section {
	background-color: #f5f5f6;
}

.main-panel {
	height: fit-content;
	background-color: #f5f5f6;
}

.top-section,
#bottom-section {
	padding-right: 15px;
}

#light-gray-background {
	background-color: #e1e2e1;
	padding-top: 10px;
	padding-bottom: 20px;
}

section {
	overflow: hidden;
	z-index: -999;
}

.main-header {
	margin-top: 15px;
}

#header {
	text-align: center;
	background-color: #e1e2e1;
	line-height: 22px;
	padding-top: 15px;
	padding-bottom: 5px;
}

#header-text,
.step-number,
.step-description {
	color: #424242;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	font-size: 20px;
}

.forth-step-number,
.forth-step-description,
.button {
	color: #f5f5f6;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 800;
	font-size: 20px;
	float: left;
}

.step-number,
.forth-step-number {
	width: 60px;
	font-size: 30px;
	vertical-align: middle;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 7px;
}

.forth-step-number {
	width: 75px;
	min-height: 75px;
	font-size: 40px;
	padding-top: 5px;
	padding-bottom: 7px;
}

.three-steps {
	overflow: hidden;
}

#triangle {
	width: 0;
	height: 0;
	border-left: 240px solid transparent;
	border-right: 240px solid transparent;
	border-top: 30px solid #e1e2e1;
	margin: 5px auto 0;
}

#arrowFirst,
#arrowSecond,
#arrowThird {
	width: 0;
	height: 0;
	position: absolute;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 40px solid #5decec;
	-webkit-filter: drop-shadow(2px 4px 0 #37e3e3);
	filter: drop-shadow(2px 4px 0 #37e3e3);
}

#arrowSecond {
	border-left-color: #4ed0d0;
	-webkit-filter: drop-shadow(2px 4px 0 #4ed0d0);
	filter: drop-shadow(2px 4px 0 #38bdbd);
}

#arrowThird {
	border-left-color: #28a8a8;
	-webkit-filter: drop-shadow(2px 4px 0 #178888);
	filter: drop-shadow(2px 4px 0 #178888);
}

#arrowForth {
	width: 0;
	height: 0;
	position: absolute;
	border-top: 37px solid transparent;
	border-bottom: 37px solid transparent;
	border-left: 40px solid #9c9797;
	-webkit-filter: drop-shadow(2px 4px 0 #817474);
	filter: drop-shadow(2px 4px 0 #817474);
}

.single-step,
.step-description,
.step-arrowhead {
	/* float: left; */
	height: 60px;
	position: relative;
	display: inline-block;
}

.forth-step-description,
.button {
	float: left;
	height: 75px;
}

.step-description,
.step-arrowhead,
.forth-step-description,
.button {
	margin-left: 7px;
}

.step-description {
	padding-left: 10px;
	padding-right: 10px;
	/* display: table; */
	font-size: 18px;
	line-height: 16pt;
	width: 400px;
}

.forth-step-description,
.button {
	display: table;
	font-size: 30px;
	width: 180px;
	border: none;
	border-radius: 0;
}

.first-step {
	background-color: #5decec;
	box-shadow: 2px 4px 0 #37e3e3;
}

.second-step {
	background-color: #4ed0d0;
	box-shadow: 2px 4px 0 #38bdbd;
}

.third-step,
.display,
.gap-row-right-half {
	background-color: #28a8a8;
	box-shadow: 2px 4px 0 #178888;
}

.forth-step,
.button {
	background-color: #9c9797;
	box-shadow: 2px 4px 0 #817474;
}

.step-desc-content {
	margin: 0;
	/* display: table-cell; */
	vertical-align: middle;
}

.frame {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	background-color: #aa99ff;
}

.display {
	width: 340px;
	text-align: center;
	background: #009faf;
	min-height: 60px;
	padding-top: 12px;
	float: right;
}

/* .gap-row, #gap-row-1, #gap-row-2, #gap-row-3{
	min-height: 20px;
} */

.gap-row-right-half {
	width: 340px;
	text-align: center;
	background: #009faf;
	min-height: 20px;
	float: right;
	padding-left: 15px;
	padding-right: 15px;
}

.fields_day,
.fields_month,
.fields_year {
	height: 36px;
	text-align: center;
	background: #aaffff;
	border: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	color: #424242;
	font-size: 22px;
	font-family: 'Titillium Web', sans-serif;
	letter-spacing: 2px;
	font-weight: 700;
}

select {
	border-radius: 0;
	-webkit-border-radius: 0;
}

.fields_month {
	width: 160px;
}

.fields_year {
	width: 90px;
}

option {
	font-size: 24px;
}

.times_fields {
	width: 340px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

label {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 5px;
	color: #fff;
}

#start-comment,
#finish-comment,
#dob-comment {
	width: 100%;
	margin: 0px;
	padding: 5px;
	min-height: 0px;
}

.tmstp {
	letter-spacing: 2px;
}

.gmt {
	letter-spacing: 10px;
}

.button:hover {
	background-color: #4dd0e1;
	/* Green */
	color: white;
	cursor: pointer;
	border: none;
	outline: none;
}

.button:active,
.button:focus {
	border: none;
	outline: none;
}

#result-field {
	background-color: #f5f5f6;
	color: #cccccc;
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 900;
	font-size: 28px;
	line-height: 30px;
	min-height: 75px;
	width: 560px;
	float: right;
	padding-top: 5px;
	/* margin-right: -15px; */
}

#payment-denied {
	color: #e0270a;
}

.footer-shadow {
	background-color: #4dd0e1;
	min-height: 10px;
}

.button-gap {
	min-height: 40px;
	float: left;
	text-align: center;
	width: 50%;
}

#information-for-user {
	background-color: #f5f5f6;
	text-align: center;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	min-height: 0;
	font-size: 15px;
	font-family: 'Titillium Web', sans-serif;
	width: 900px;
}

#footer {
	background-color: #009faf;
	width: 100%;
	border-top: 10px solid #4dd0e1;
}

.footer-text {
	color: #fff;
	font-size: 11px;
	font-family: 'Titillium Web', sans-serif;
	letter-spacing: 2px;
	text-align: center;
	padding-top: 20px;
	font-weight: 400;
	margin-bottom: 30px;
}

#footer-asterix {
	font-size: 18px;
}

@media only screen and (max-width: 600px) {

	/* img{
		height:4em;
	} */

	/* .result-section,
	.top-section,
	#bottom-section,
	.main-header,
	.main-panel,
	#result-field {
		width: 100%;
	} */

	#triangle {
		border-left: 200px solid transparent;
		border-right: 200px solid transparent;
		border-top: 20px solid #e1e2e1;
	}

	.single-step,
	.step-description {
		height: 6.5vw;
	}

	.step-description {
		/* width: fit-content; */
		font-size: 3vw;
		line-height: 3vw;
	}

	small {
		font-size: 2vw;
		line-height: 2vw;
	}

	.step-number {
		width: 6.5vw;
		font-size: 4vw;
		line-height: 4vw;
	}

	#arrowFirst,
	#arrowSecond,
	#arrowThird {
		border-top: 30px solid #5decec;
		border-right: 100px solid transparent;
		border-left: 100px solid transparent;
		-webkit-filter: drop-shadow(2px 4px 0 #37e3e3);
		filter: drop-shadow(2px 4px 0 #37e3e3);
		display: block;
	}

	#arrowSecond {
		border-left-color: #4ed0d0;
		-webkit-filter: drop-shadow(2px 4px 0 #4ed0d0);
		filter: drop-shadow(2px 4px 0 #38bdbd);
	}

	#arrowThird {
		border-left-color: #28a8a8;
		-webkit-filter: drop-shadow(2px 4px 0 #178888);
		filter: drop-shadow(2px 4px 0 #178888);
	}

	#arrowForth {
		width: 0;
		height: 0;
		border-top: 37px solid transparent;
		border-bottom: 37px solid transparent;
		border-left: 40px solid #9c9797;
		-webkit-filter: drop-shadow(2px 4px 0 #817474);
		filter: drop-shadow(2px 4px 0 #817474);
	}
}